:root {
    --hex-top: 10%;
    --hex-right: 10%;
    --hex-bottom: 10%;
    --hex-left: 10%;
    --hex-color: #BBBB00;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.hexagon-container {
    position: relative;
    margin-right: 55.4vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hive-upper-row {
    display: flex;
    gap: 2%;
    width: 67%;
    margin-left: 6%;
}

.hive-middle-row {
    display: flex;
    gap: 1%;
    transform: translate(0, -25px);
}

.hive-lower-row {
    display: flex;
    gap: 1%;
    width: 67%;
    margin-left: 6%;
    transform: translate(0, -50px);
}

.hexagon {
    position: relative;
    top: var(--hex-top);
    right: var(--hex-right);
    bottom: var(--hex-bottom);
    left: var(--hex-left);
    width: 100px;
    height: 57.735px;
    background-color: var(--hex-color);
    margin: 28.87px 0;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }
  
  .hexagon:before {
    bottom: 100%;
    border-bottom: 28.87px solid var(--hex-color);
  }
  
  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid var(--hex-color);
  }
  
  .inner {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    color: #000000;
    font-size: 24px;
    font-weight: 700;
  }

  #input-text {
    position: relative;
    margin-right: 52vw;
    margin-top: 23vh;
  }

  #button-container {
    display: flex;
    gap: 1vw;
    margin-right: 52vw;
  }

  #button-container button{
    display: flex;
    gap: 1vw;
    border: solid black;
    padding: 1%;
  }
